.gitignore
*.log
*.spec
*.cmd
*.exe
*.txt
*.yml
*.html
!notignore.log
!requirements.txt
.dockerignore
Dockerfile
build/
dist/
main.build/
main.dist/
main.onefile-build/
__pycache__/
.idea/
venv/
.git/